extends layout

block content
  h1= title
  p ようこそ #[em LocalLibrary] へ。これは、Mozilla Developer Network のチュートリアル用に作成された、非常に基本的な Express サイトです。

  h1 動的コンテンツ

  p 図書館のデータは次のとおりです：

  ul
  li #[strong 本の数:] !{book_count}
  li #[strong 全ての本の数:] !{book_instance_count}
  li #[strong 今ある本の数:] !{book_instance_available_count}
  li #[strong 著者数:] !{author_count}
  li #[strong ジャンル数:] !{genre_count}
